*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.banner{
    background-image: url(../img/stock.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
}
/* .banner h2{
    font-size: 70px;
    position: absolute;
    top: 200px;
    text-align: center;
    left: 300px;
    color: white;
} */
/* .banner p{
    position: absolute;
    top: 350px;
    text-align: center;
    left: 400px;
    color: white;
} */
.about{
    background-size: cover;
    /* height: 100vh; */
    background-color: black;
    display: flex;
    background-image: url(../img/stock-removebg-preview.png);
    /* margin-top: 50px; */
    
}
.about h2{
    font-weight: bold;
    font-size: 60px;
    line-height: 1.5;
    border-left: 3px solid #DC9458;
    padding: 50px;
    justify-content: center;
    /* margin-bottom: 50px; */
}
.menu{
    width: 99%;
}
.menu h2{
    font-size: 40px;
    color:  #DC9458;
}

.ban-button button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding: 10px;
    color: white;

}
.abt-button button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding: 10px;
    color: white;
    /* margin-top: 20px; */

}
.checkout button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding: 10px;
    color: white;
    margin-left: 50px;
}
.order{
    height:70vh;
}
.order-text h2{
    color: #DC9458;
    font-size: 40px;
}
.order-summary h2{
    color: #DC9458;
    font-size: 40px;
}
form .form-control:focus{
 box-shadow: none;
 background-color: transparent;
 border: 2px solid #DC9458;
 border-radius: 5px;
 width: 50vw;
 
}
form .form-control{
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #DC9458;
    border-radius: 5px;
    width: 50vw;
   }
.image img{
    width: 150px;
    height: 150px;
}
.add-order button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    padding: 10px;
    color: white;
}
.image{
    border: inset;
    border-radius: 5px;
    padding: 30px;
}
.order-summary{
    display: none;
}
.confirm-button button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding: 10px;
    color: white;
}
.serve{
    transition: transform 1s ease-in-out;
    position: relative;
    ;
}

h4{
    position: absolute;
    bottom: 150px;
    left: 150px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.serve1{
    position: relative;
}
h4{
    position: absolute;
    bottom: 150px;
    left: 150px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.serve2{
    position: relative;
}
h4{
    position: absolute;
    bottom: 150px;
    left: 150px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}