*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* .banner{
    background-image: url(../img/stock2.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
} */
.about{
    background-size: cover;
    height: 100vh;
    background-color: black;
    
}
.about h2{
    font-weight: bold;
    font-size: 60px;
    line-height: 1.5;
    border-left: 3px solid #DC9458;
    padding: 50px;
}
.menu h2{
    font-size: 60px;
}
/* .rectangle{
background-color: #DC9458;
width: 3px;
height: 150px;
position: relative;
top: 140px;
} */
button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding: 10px;
    color: white;

}
.order{
    /* background-color: black; */
    height:70vh;
}
form .form-control:focus{
 box-shadow: none;
 background-color: transparent;
 border: 2px solid #DC9458;
 border-radius: 5px;
 width: 50vw;
 /* color: white; */
}
form .form-control{
    box-shadow: none;
    background-color: transparent;
    border: 2px solid #DC9458;
    border-radius: 5px;
    width: 50vw;
    /* color: white; */
   }
.image img{
    width: 150px;
    height: 150px;
}
.add-order button{
    background-color: #DC9458;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    padding: 10px;
    color: white;
}
.image{
    border: inset;
    border-radius: 5px;
    padding: 30px;
}