*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.banner{
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.about{
    /* background-image: url(../img/images.jpeg);
    background-size: cover;
    height: 100vh; */
    background-color: black;
    height: 100vh;
}
.about h2{
    font-weight: bold;
    font-size: 50px;
}

.rectangle{
background-color: red;
width: 3px;
height: 150px;
position: relative;
top: 120px;
}
button{
    background-color: coral;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
}